﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model List<holaMundo.Models.Money>
@{
     ViewData["Title"] = "Money";
}

<table class="table table-bordered">
    <thead>
         <tr>
            <th>Id</th>
            <th>Moneda </th>
            <th>Abreviatura</th>
            <th>Valor</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
         <tr>
            <td>@item.id</td>
            <td>@item.name</td>
            <td>@item.abbr</td>
            <td>@item.value</td>

        </tr>
           
        }
    </tbody>
</table>
